@model IEnumerable<BookStoreTry.Models.Books>

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-section">
    <div class="home-container">
        <div class="filter-container">

            <h4>Refine your Search</h4>
            <div class="filter-cat">
                <h5>Select Language</h5>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>English</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Hindi</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Tamil</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Telugu</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Kannada</lable>
                </div>
            </div>

            <div class="filter-cat">
                <h5>Select Genres</h5>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Fiction</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Non-Fiction</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Science</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Stories</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Kids</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Articles</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Education</lable>
                </div>
            </div>
        </div>
        <div class="books-list-container">
            <div class="search-results-title">
                <p>New Arrivals</p>
                <p>(50 Books Found)</p>
            </div>
            <div class="book-card-container">
                @foreach (var book in Model) {
                <div class="book-card">
                    <img src=@book.ImageUrl alt="book" />
                    <div class="book-details">
                            <h5>@book.Title</h5>
                        <p>By @book.Author</p>
                        <p>ISBN @book.ISBN</p>
                        <h6>Price: @book.Price</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
