@{
    ViewData["Title"] = "Home Page";
}

<div class="home-section">
    <div class="home-container">
        <div class="filter-container">

            <h4>Refine your Search</h4>
            <div class="filter-cat">
                <h5>Select Language</h5>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>English</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Hindi</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Tamil</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Telugu</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Kannada</lable>
                </div>
            </div>

            <div class="filter-cat">
                <h5>Select Genres</h5>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Fiction</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Non-Fiction</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Science</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Stories</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Kids</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Articles</lable>
                </div>
                <div class="filter-input-label-pair">
                    <input type="checkbox" />
                    <lable>Education</lable>
                </div>
            </div>
        </div>
        <div class="books-list-container">
            <div class="search-results-title">
                <p>New Arrivals</p>
                <p>(50 Books Found)</p>
            </div>
            <div class="book-card-container">
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
                <div class="book-card">
                    <img src="https://www.bookswagon.com/productimages/images200/279/9781974717279.jpg" alt="book" />
                    <div class="book-details">
                        <h5>Chainsaw Man, Vol. 4</h5>
                        <p>By Tatsuki Fujimoto</p>
                        <p>4.1/5 Stars</p>
                        <h6>Price: ₹500/-</h6>
                    </div>
                    <div class="view-more-btn">
                        <a>View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
